﻿.meal-name {
    padding: 0px;
}

.meal-icon {
    width: 16px;
}

.meal-day-icon {
    width: 16px;
}

.table-borderless td,
.table-borderless th {
    border: 0;
}

.calendar-day-date {
    font-size: xx-large;
}

.select-child-container {
    margin-top: 25px;
}