﻿@model ICollection<PreschoolFees.Models.Attendance>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AttendanceForm</title>
</head>
<body>
    <p>Wybrano dziecko</p>
   
    @foreach(var attendance in Model)
    {
        <p>@attendance.Date @attendance.Present </p>
    }


    @*@using (Html.BeginForm())
    {
        @Html.ValidationSummary();
        <p>Id: @Html.TextBoxFor(x => x.Id)</p>
        <p>Child id: @Html.TextBoxFor(x => x.Child.Id)</p>
        <p>Meal id: @Html.TextBoxFor(x => x.MealId)</p>
        <p>Date: @Html.TextBoxFor(x => x.Date)</p>
        <p>
            Present?
            @Html.DropDownListFor(x => x.Present, new[] {
                    new SelectListItem() {Text = "Obenca", Value = bool.TrueString},
                    new SelectListItem() {Text = "Nieobecna", Value = bool.FalseString}
                }, "Wybierz opcję")
        </p>
        <input type="submit" value="wyślij" />
    }*@
</body>
</html>
