﻿@model IEnumerable<PreschoolFees.Models.Child>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Preschool Fees";
}

<div class="container select-child-container">
    <div class="card">
        <div class="card-header">
            Preschool Fees App
        </div>
        <div class="card-body">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Wybierz dziecko
                <span class="caret"></span>
            </button>
            <div class="dropdown-menu">
                @foreach (var child in Model)
                {
                    <a href="@Url.Action("Index", "Calendar", new { childId = child.Id })" class="dropdown-item" >@child.FirstName @child.LastName</a>
                }
            </div>
        </div>
    </div>
</div>
