﻿@model PreschoolFees.Models.Attendance

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div> 
        <h1>Dziękujemy</h1>
        <p>Dziecko o id @Model.ChildId 
            @if (Model.Present == true)
            {
                @: będzie obecne.
            }
            else
            {
                @: nie będzie obecne.
            }
        </p>
        <p>MealId: @Model.MealId</p>
        <p>Data: @Model.Date</p>
    </div>
</body>
</html>
