﻿@model PreschoolFees.Models.Child

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Child: <br />
        @Model.FirstName @Model.LastName
    </div>
    <div>
        @foreach (var attendance in Model.Attendances)
        {
            <p>@attendance.Id @attendance.Date @attendance.Present</p>
        }
    </div>
   
    <div>
        <a href="/Calendar/Index">Go to calendar</a>
    </div>
</body>
</html>
