﻿@model IEnumerable<PreschoolFees.Models.Attendance>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DayClickedView</title>
</head>
<body>
    <div> 
        @foreach(var attendance in Model)
        {
            <p>@attendance.Date @attendance.Present @attendance.Meal.Name</p>

        }
    </div>
</body>
</html>
