﻿@model PreschoolFees.ViewModels.Calendar

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Preschool Fees - Calendar";
}

<div>
    <div class="alert alert-warning alert-dismissible fade show text-center">
        <a href="@Url.Action("PreviousMonth", "Calendar", 
                new { childId = Model.ChildId, currentYear = Model.Year, currentMonth = Model.Month })" 
                class="btn btn-secondary">
            &lt;
        </a>
        <strong>@Model.MonthName @Model.Year</strong>
        <a href="@Url.Action("NextMonth", "Calendar", 
                new { childId = Model.ChildId, currentYear = Model.Year, currentMonth = Model.Month })" 
           class="btn btn-secondary">
            &gt;
        </a>
    </div>
    <table class="table table-bordered">
        @foreach (var week in Model.MonthlyCalendar)
        {
            <tr>
                @foreach (var day in week.WeekCalendar)
                {
                    <td class="calendar-cell">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    @day.DayOfTheWeekShortName, <span class="calendar-day-date">@day.Date.Day</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8"></div>
                                <div class="col-sm-4 meal-day-icon-wrapper text-right">
                                    <a href="@Url.Action("ToggleDayAttendance","Calendar", new { childId = Model.ChildId, selectedDate = day.Date })">
                                        @if (day.AllMealsEaten == true)
                                        {
                                            @:<img class="meal-day-icon eaten" src="/svg/si-glyph-button-remove.svg" />
                                        }
                                        else
                                        {
                                            @:<img class="meal-day-icon noteaten" src="/svg/si-glyph-button-plus.svg" />
                                        }
                                    </a>
                                </div>
                            </div>
                            @foreach (var mealDict in day.MealEaten)
                            {
                                <div class="row">
                                    <div class="meal-name col-sm-8 ">@mealDict.Key.Name</div>
                                    <div class="meal-icon-wrapper col-sm-4 text-right">
                                        <a href="@Url.Action("ToggleMealAttendance","Calendar", new { childId = Model.ChildId, selectedDate = day.Date, mealId = mealDict.Key.Id })">
                                            @if (mealDict.Value == true)
                                            {
                                                @:<img class="meal-icon eaten" src="/svg/si-glyph-spoon-fork.svg" />
                                            }
                                            else
                                            {
                                                @:<img class="meal-icon noteaten" src="/svg/si-glyph-delete.svg" />
                                            }
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </td>
                }
            </tr>
        }
    </table>
</div>
